.error {
  color: green; }

body {
  font-family: Open Sans, sans-serif;
  padding: 0px;
  margin: 0px; }

div {
  box-sizing: border-box; }

h3 {
  color: #555555; }

h2 {
  margin: 10px 0 10px 0;
  text-align: center; }

.div-size-1 {
  flex: 1; }

.div-size-2 {
  flex: 2; }

.div-size-3 {
  flex: 3; }

.div-size-4 {
  flex: 4; }

.div-size-5 {
  flex: 5; }

.container {
  margin: 0 auto;
  display: flex; }

.text-on-black {
  color: #fff; }

.main-text {
  color: #262222; }

.flex-column {
  flex-direction: column !important; }

.div_margin {
  margin-left: 15px; }

.error {
  color: green; }

a {
  text-decoration: none;
  color: inherit; }

.header {
  background-color: #555555;
  margin: 0;
  padding: 0;
  position: relative;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 3px 30px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 4; }
  .header .container {
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 765px) {
      .header .container {
        flex-wrap: wrap;
        height: auto; }
        .header .container .visable {
          display: inline-block;
          width: 100%; }
        .header .container .unvisable {
          display: none; } }
  .header .logo img {
    height: 70px; }
  @media screen and (max-width: 765px) {
    .header .logo img {
      height: 50px; } }
  @media screen and (max-width: 425px) {
    .header .logo img {
      height: 40px; } }
  .header nav {
    padding: 12px 0; }
    @media screen and (max-width: 765px) {
      .header nav {
        padding: 0; } }
    .header nav ul {
      line-height: 140%;
      text-align: center;
      padding: 0 0 0;
      display: flex;
      justify-content: right;
      vertical-align: middle;
      width: 100%;
      margin: 0; }
      @media screen and (max-width: 765px) {
        .header nav ul {
          flex-direction: column; } }
      .header nav ul li {
        margin: 0;
        padding: 0px;
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        position: relative; }
        .header nav ul li.active a {
          color: #fff; }
        .header nav ul li:hover {
          background-color: #fff; }
          .header nav ul li:hover a {
            color: #555555; }
        .header nav ul li a {
          padding: 20px;
          color: #c0c4d7;
          display: block;
          margin: 0;
          position: relative; }
        .header nav ul li.burger {
          display: none; }
        @media screen and (max-width: 765px) {
          .header nav ul li {
            width: 100%; }
          .header nav ul li.burger {
            display: inline-block; } }
        @media screen and (max-width: 425px) {
          .header nav ul li.burger a {
            padding-top: 15px;
            padding-bottom: 15px; } }

.welcome {
  position: relative;
  background: url("/static-assets/img/header2.jpg") no-repeat center center/cover;
  z-index: 3;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; }
  .welcome .container {
    padding-top: 95px;
    padding-bottom: 130px; }
    .welcome .container .row {
      vertical-align: middle;
      display: inline-block;
      font-family: Open Sans, Roboto Slab, Times New Roman, serif;
      line-height: 1em;
      color: #fff;
      font-size: 50px;
      text-shadow: 0 0 100px #000;
      width: 100%;
      color: #fff;
      font-weight: 600; }
      .welcome .container .row p {
        text-align: center; }

.container {
  max-width: 1240px; }
  .container hr {
    background-color: #e1e1e1; }

.search {
  margin-top: 20px; }

.car-icons {
  width: 250px;
  height: 250px; }

.info {
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  color: #555555; }

.error {
  color: green; }

.footer-dark {
  background-color: #555555;
  margin: 0;
  padding: 0; }

.footer-light {
  background-color: #e1e1e1;
  margin: 0;
  margin-top: 20px;
  padding: 0; }

.bottom-nav {
  padding: 2rem 0;
  color: black;
  /*background: -moz-linear-gradient(top, rgba(226,234,234,1) 0%, rgba(218,226,230,1) 50%, rgba(214,223,228,1) 51%, rgba(184,190,196,1) 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, rgba(226,234,234,1) 0%,rgba(218,226,230,1) 50%,rgba(214,223,228,1) 51%,rgba(184,190,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, rgba(226,234,234,1) 0%,rgba(218,226,230,1) 50%,rgba(214,223,228,1) 51%,rgba(184,190,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eaea', endColorstr='#b8bec4',GradientType=0 ); /* IE6-9 */ }

.bottom-nav-border {
  border-right: 1px solid #ccc;
  margin-left: 15px; }

.bottom-info {
  margin-left: 15px; }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0rem; }

.nav-link:hover {
  color: #555555;
  text-decoration: none; }

.nav-link.disabled {
  color: #555555; }

.footer {
  background: #555555;
  /*rgb(53,106,160);*/
  /*background: -moz-linear-gradient(top, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff; }

.copyright {
  color: #e1e1e1;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding: 10px; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%; }

.autocomplete-items {
  position: absolute;
  border: 1px solid #e1e1e1;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  width: 100%; }
  .autocomplete-items .autocomplete-items::first-child {
    border-bottom: none;
    border-top: none; }

.autocomplete-items div {
  color: #555555;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4; }

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e1e1e1; }

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #fff; }

@media screen and (max-width: 1070px) {
  .hello-text {
    font-size: 2.8rem; }
  .welcome .container {
    padding-top: 40px;
    padding-bottom: 40px; } }

@media screen and (max-width: 965px) {
  .search-panel {
    flex-direction: column; }
  header {
    height: auto; } }

@media screen and (max-width: 965px) {
  /*
	.hide-logo{
		flex: 0;
	}
	.div-size-logo{
		flex: 0;
	}*/
  /*text-hello*/
  /*search*/
  .hello-search-container {
    width: 90%; }
  /*main-block*/
  .car-icons {
    width: 150px;
    height: 150px; } }

@media screen and (max-width: 810px) {
  .hide-search {
    display: none; } }

@media screen and (max-width: 767px) {
  .hello-text {
    font-size: 2.1rem; }
  .text-hello-div {
    height: 151px; } }

@media screen and (max-width: 756px) {
  .text-hello-div {
    display: none; }
  .copyright {
    display: flex;
    font-size: 15px; }
  .search-panel {
    margin-top: 10px;
    height: auto;
    /*!!!*/ }
  .input-time {
    width: 205px;
    font-size: 14px; }
  .input-submit {
    width: 210px;
    font-size: 14px; }
  .input-search {
    font-size: 14px;
    width: 210px; }
  .bottom-nav {
    text-align: center; }
  .bottom-nav-border {
    border-right: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: 0px; }
  .bottom-info {
    margin-left: 0; }
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block; }
  .span-form-hiden {
    display: block; }
  .bottom-nav {
    flex-direction: column; }
  .main-text {
    flex-direction: column; } }

@media screen and (max-width: 425px) {
  .hello-text {
    font-size: 1.4rem; }
  .welcome .container {
    padding-top: 0px;
    padding-bottom: 0px; } }

/* Full-width input fields */
.input-text, .input-password {
  width: 95%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1; }

/* Add a background color when the inputs get focus */
.input-text:focus, .input-password:focus {
  background-color: #ddd;
  outline: none; }

/* Set a style for all buttons */
.button {
  background-color: #555555;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9; }

.button:hover {
  opacity: 1; }

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #e1e1e1;
  color: #555555; }

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%; }

/* Add padding to container elements */
.container-login {
  padding: 16px;
  margin: auto; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  opacity: 0.97;
  padding-top: 50px;
  /*display: flex;*/ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  /*margin: 5% auto 15% auto;  5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
  margin: 0 auto;
  display: flex;
  opacity: 1; }

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px; }

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1; }

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer; }

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.registration-form {
  margin: 0 10% 0 10%; }

.remember-checkbox {
  margin-bottom: 15px; }

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%; } }

.error {
  color: green; }

.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%; }
  .table td, .table th {
    border: 1px solid #ddd;
    padding: 5px; }
  .table tr:nth-child(even) {
    background-color: #f2f2f2; }
  .table tr:hover {
    background-color: #ddd; }
  .table th {
    padding: 12px 5px;
    text-align: left;
    background: #555555;
    color: white; }

.page-table {
  margin: 1% 5% 1% 5%;
  overflow-x: auto; }

/*
@media screen and (max-width: 540px) {
    .page-table{
        margin: 1% 1% 1% 1%;
    }
}*/
.paginator {
  display: flex;
  width: 100%;
  margin: 10px auto;
  justify-content: center; }
  .paginator a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none; }
  .paginator a.active {
    background-color: #555555;
    color: white;
    border-radius: 5px;
    font-weight: bold; }
  .paginator a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px; }

.direction-column {
  flex-direction: column; }

.table-filters {
  margin: 0 5% 0 5%; }
  .table-filters .label {
    color: #555555;
    font-weight: bold; }
  .table-filters a {
    text-decoration: none;
    color: #555555; }
  .table-filters a.active {
    color: #555555; }

.filters td {
  text-align: center; }

.error {
  color: green; }

body {
  background-color: #f4f5fb; }

.card {
  width: 100%;
  background-color: #fff;
  box-shadow: inset 0 -4px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px 20px 20px; }
  .card .row {
    display: flex;
    justify-content: space-between; }
    .card .row h2 {
      width: 100%;
      color: #555555; }
    .card .row .element {
      width: calc(100% - 20px);
      margin: 10px; }
    .card .row .label {
      color: #a0a6c5;
      padding: 10px 0; }
    .card .row .value {
      padding: 10px 0; }
    .card .row input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e0e4f6;
      color: #555555; }
    .card .row .input-search {
      height: 42px;
      width: 100%; }
    .card .row .input-time {
      height: 20px;
      width: calc(100% - 20px); }
    .card .row .important {
      color: #555555;
      font-weight: bold; }
    .card .row:nth-child(n+2) {
      border-top: solid 1px #f4f5fb; }
  .card p {
    line-height: 25px; }
  @media screen and (max-width: 825px) {
    .card .row {
      flex-direction: column; } }

@media screen and (max-width: 915px) {
  .card-list .element {
    display: flex;
    justify-content: space-between; }
  .card-list .row {
    flex-direction: column; }
    .card-list .row .element {
      margin: 0 auto; }
    .card-list .row .label, .card-list .row .value {
      padding: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #555555; } }

@media screen and (max-width: 915px) {
  .card-search .row {
    flex-direction: column; }
    .card-search .row .element {
      margin: 0 auto; }
    .card-search .row .label, .card-search .row .value {
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px; } }

.route {
  display: flex; }

.card-style {
  margin: 1% 10% 1% 10%;
  padding: 1% 1% 1% 1%;
  border: 3px solid #e1e1e1;
  overflow-x: auto; }

.num {
  background-color: #71b732;
  color: #fff;
  margin-right: 10px;
  padding: 6px 3px 0px 3px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%; }
  .num-first {
    background-color: #ff3333; }
  .num-last {
    background-color: #4296ea; }

.map {
  width: 100%;
  height: 100%; }

.card-map {
  width: 100%;
  height: 500px; }

@media screen and (max-width: 900px) {
  .route {
    flex-direction: column;
    padding-left: 10px; } }

.div-size-1 {
  border-right: 1px solid #f4f5fb; }
  @media screen and (max-width: 825px) {
    .div-size-1 {
      border-right: 0; } }

@media screen and (max-width: 825px) {
  .card .row {
    flex-direction: column; } }

@media screen and (max-width: 1200px) {
  .card-route .map {
    height: 100%; }
  .card-route .row {
    flex-direction: row; } }

@media screen and (max-width: 825px) {
  .card-route .map {
    height: 100%; }
  .card-route .row {
    flex-direction: row; } }

@media screen and (max-width: 750px) {
  .card-route .map {
    height: 100%; }
  .card-route .row {
    flex-direction: column; } }
